node_modules/
bower_components/
*.sublime-workspace
config_dump.json
config_prod.json
npm-debug.log
.node_repl_history
.mongorc.js
.npm/
.config/
.node-gyp/
.cache/
.travis/
.bin/
.qws/
.local/
.*.ip
