<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"></meta>
  <title>Duelo</title>

  <link rel="stylesheet" href="/css/main.css" />

  <script src="/external/underscore/underscore-1.4.4.min.js"></script>
  <script src="/external/jquery/jquery-1.9.1.min.js"></script>
  <script src="/external/kinetic/kinetic-4.3.1.min.js"></script>

  <script data-main="client" src="/external/requirejs/require.js"></script>
</head>
<body>
  <h1>duelo</h1>
  <% if (!user) { %>
    <a href="/auth/google">Login with Google</a>
    <a href="/auth/facebook">Login with Faceboook</a>
  <% } else { %>
    <h2>Welcome, <%= user.displayName %>.</h2>
    <a href="/logout">Log Out</a>
    <div id="board"></div>
  <% } %>
</body>
</html>
