<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"></meta>
  <title>Duelo</title>

  <link href="/external/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
  <% include partials/navbar %>

  <section id="container">
    <h1>Welcome to Duelo</h1>
  </section>

  <script type="text/x-mustache" id="loading-template"><span>loading&hellip;</span></script>
  <script type="text/x-mustache" id="games-list-template"><% include partials/games_list.ms %></script>
  <script type="text/x-mustache" id="lobby-template"><% include partials/lobby.ms %></script>
  <script type="text/x-mustache" id="playing-template"><% include partials/playing.ms %></script>

  <script src="/external/jquery/dist/jquery.min.js"></script>
  <script src="/external/bootstrap/dist/js/bootstrap.min.js"></script>
  <script data-main="/client" src="/external/requirejs/require.js"></script>
</body>
</html>
