<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"></meta>
  <title>Duelo</title>

  <link href="/external/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
  <% include partials/navbar-not-logged %>

  <section class="jumbotron form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <a href="/auth/facebook" class="btn btn-primary">Login with Faceboook</a>
    <a href="/auth/google" class="btn btn-primary">Login with Google</a>
  </section>

  <script src="/external/jquery/dist/jquery.min.js"></script>
  <script src="/external/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
